<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />

    
</head>

<footer style='padding-bottom: 63px;'>
    
    <div class='telephones'>
        <ul class='row'>
            
            <li         class='telemarketing'><p>televendas - compre pelo telefone</p>
                <span>4444-4444</span>
            </li>
            <li class='whats-attendance'>
                <p>atendimento via whatsapp</p>
                <span>4444-4444</span>
            </li>
            <li class='stores-attendance'>
                <p>central de atendimento - lojas fisicas</p>
                <span>4444-4444</span>
            </li>
        </ul>
    </div>
    <div class='general'>
        <ul class='general-row1'>
            <ul>
                <li class='upper-case'>televendas</li>       
                <li>Horário de funcionamento</li>
                <li>Segunda a Sexta: 08:00 às 21:00</li>
                <li>Sábados, domingo e feriados: 08:00 às 17:00</li>
            </ul>
            
        </ul>
        <ul class='general-row2'>
            <ul>
                <li class='upper-case'>meus pedidos</li>       
                <li>Acompanhe seus pedidos</li>
                <li>Editar cadastro</li>
            </ul>
            
        </ul>
        <ul class='general-row3'>
            <ul>
                <li class='upper-case'>Empresa</li>       
                <li>Quem somos</li>
                <li>Trabalhe conosco</li>
            </ul>
            
        </ul>
    </div>     
    
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</html>