<!DOCTYPE html>
<html class='no-js'>

<head>
  <title>Home loja de produtos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel='stylesheet' href='/stylesheets/registroDeProdutos.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  
</head>

<body>
    <container class= 'container-fluid'><img src='/images/o-boticario-logo-1.png' class='img-thumbnail'/></container>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">Marca</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/products/">Adicionar Produtos</a></li>
                    <li><a class="dropdown-item" href="/products/lista">Listar Produtos</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <!--<li><a class="dropdown-item" href="#">teste</a></li>-->
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contato</a>
                </li>
                </ul>
                <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button id='search-button' type="submit">Search</button>
                <a class="nav-link active" aria-current="page" href="../login.ejs">Login</a>
                </form>
            </div>
            </div>
        </nav>
  </header>