<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./stylesheets/login.css">
</head>

<body>
    <div id="login-container">
        <h1>Login</h1>
        <form action="">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="digite seu email" autocomplete="off">
            <label for="passoword">Senha</label>
            <input type="password" name="passoword" id="passoword" placeholder="digite sua senha">
            <a href="#" id="forgot-pass">Esqueceu a senha?</a>
            <input type="submit" value="Login">
        </form>
        <div id="social-container">
            <p>Entre por outra rede</p>
            <i class="fa fa-facebook-f"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-google"></i>
            <i class="fa fa-instagram"></i>
        </div>
        <div id="register-container">
            <p> Ainda não tem uma conta?</p> 
            <a href="#">Registrar</a>
        </div>
    </div>
</body>

</html>