<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <div id="login-container">
        <% if (exists === true) { %>
            <span id="error">Username já existe, favor escolha outro</span>
        <% } %>
        <% if (created === true) { %>
            <span id="created">Usuário registrado com sucesso!</span>
        <% } %>
        <h1>Crie seu Login</h1>
        <form action="/login/create" method="POST">
            <label for="username">Nome de Usuário</label>
            <input type="username" name="username" id="username" placeholder="digite seu nome de usuário" autocomplete="off">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" placeholder="digite sua senha">
            <label for="name">Nome</label>
            <input type="name" name="name" id="name" placeholder="digite seu nome completo">
            
            <input type="submit" value="criar">
            <input type="reset" value="cancelar">
        </form>
        <div id="social-container">
            <p>Entre por outra rede</p>
            <i class="fa fa-facebook-f"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-google"></i>
            <i class="fa fa-instagram"></i>
        </div>
        <div id="register-container">
            <p> Ainda não tem uma conta?</p> 
            <a href="#">Registrar</a>
        </div>
    </div>
</body>

</html>