#produtos {
  max-width: 1200px;
  margin-top: 5rem;
  padding: 5rem 5rem 5rem 5rem;
}

#div-flex {
  background-color: #f7f7f7;
  color: #a4a4a4;
}

.div-list {
  margin: 0.5rem;
  width: 13rem;
  padding: 0 1rem 0 0rem;
  text-align: center;
}

.div-list table {
  margin-left: 1rem;
}
.product-name {
  font-weight: 800;
}

/*cart*/

#cart-div {
  margin-top: 6rem;
}

/* details*/

#details-div {
  height: 10rem;
}

.h1-details {
  text-align: center;
  margin-left: 5rem;
}

.details-product {
  margin-left: 10rem;
  margin-top: 3rem;
}
