@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400&display=swap');

header {
  border-bottom: 1px solid #bb91f3;
  background-color: #323639;
}

header a {
  border-bottom: 2px solid transparent;
  color: rgba(0,0,0,.55);
  display: inline-block;
  padding: 24px 16px;
  font-size: 16px;
  border-left: solid 2px #c5a0f7;
  font-family: sans-serif;
}

header a:hover {
  border-bottom: 2px solid #f4989c;
}

.container-fluid {
  display: flex;
}

#login-button{  
  border-color: #f4989c;
  color: #cc2a32;
  border-radius: 25%;
  
}

#login-button:hover{
  text-decoration: none;
  background-color: rgba(238, 149, 154, 0.5);
  font-weight: 500; 
}

#search-button {
  border-color: #f4989c;
  color: #cc2a32;
  border-radius: 20%;  
}

#search-button:hover {
  text-decoration: none;
  background-color: rgba(238, 149, 154, 0.5);
  font-weight: 500; 
}

#submit-button {
  border-color: #f4989c;
  color: #cc2a32;
  border-radius: 20%; 
}

#submit-button:hover {
  text-decoration: none;
  background-color: rgba(238, 149, 154, 0.5);
  font-weight: 500; 
}

#cancel-button {
  border-color: #f4989c;
  color: #cc2a32;
  border-radius: 20%; 
}

#cancel-button:hover {
  text-decoration: none;
  background-color: rgba(238, 149, 154, 0.5);
  font-weight: 500;  
}

#delete-button {
  border-color: #a11705;
  color: #660b05;
}

#delete-button:hover {
  text-decoration: none;
  background-color: rgba(238, 116, 111, 0.5);
  font-weight: 500; 
}

p {
  padding: 0.5rem;
}

form div {
  padding: 0.5rem;
  text-align: center;
}

.d-flex main button{
  margin: 0.5rem;
}

.botoes-cancel-submit {
  text-decoration: none;
  border-color: #f4989c;
  color: #cc2a32;
  border-radius: 20%;  
}

.botoes-cancel-submit input {
  text-decoration: none;
  border-color: #f4989c;
  color: #cc2a32;
  border-radius: 20%;  
}

.botoes-cancel-submit input:hover {
  text-decoration: none;
  background-color: rgba(238, 149, 154, 0.5);;
  border-color: #f1656c;
}

.procurar-imagem {
  text-decoration: none;
  border-color: #f4989c;
  color: #140f0f;
  
}
/*products.list*/
.h1 {
  margin:0 0 1rem 5rem;
  padding: 2rem 0 2rem 0;
}

div #div-flex {
  margin: 1rem 1rem 2rem 5rem;
}

#description{
  border-color: #f4989c;
  border-radius: 10%;   
}

#price{
  border-color: #f4989c;
  border-radius: 20%;
}
  
#name{
  border-color: #f4989c;
  border-radius: 10%;
}

#productImg{
  border-color: #f4989c;
  border-radius: 10%;
}

.container{
  background-color: #E8E7E7;
  height:450px;
  width: 50px;
  position:relative;
}




/*img {
  width: 100%;
  height: 100%
}*/

/* header div {
  display: inline-block; */
/* } */

/* header a:hover{
  background-color: blue; */

/* }fica azul na hora que passa o mouse */
