@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400&display=swap');

header {
  border-bottom: 1px solid #bb91f3;
  background-color: #323639;
}

header a {
  border-bottom: 2px solid transparent;
  color: rgba(0,0,0,.55);
  display: inline-block;
  padding: 24px 16px;
  font-size: 16px;
  border-left: solid 2px #c5a0f7;
  font-family: sans-serif;
}

header a:hover {
  border-bottom: 2px solid #f4989c;
}

.container-fluid {
  display: flex;
}

#login-button{
  border-left:none
}

#search-button {
  border-color: #f4989c;
  color: #cc2a32;
  border-radius: 20%;  
}

#search-button:hover {
  text-decoration: none;
  background-color: rgba(238, 149, 154, 0.5);
  font-weight: 500; 
}

#submit-button {
  border-color: #13660c;
  color: #0d491f;
}

#submit-button:hover {
  text-decoration: none;
  background-color: rgba(84, 233, 108, 0.5);
  font-weight: 500; 
}

#cancel-button {
  border-color: #bddd06;
  color: #413f03;
}

#cancel-button:hover {
  text-decoration: none;
  background-color: rgba(241, 245, 31, 0.5);
  font-weight: 500; 
}

#delete-button {
  border-color: #a11705;
  color: #660b05;
}

#delete-button:hover {
  text-decoration: none;
  background-color: rgba(238, 116, 111, 0.5);
  font-weight: 500; 
}

p {
  padding: 0.5rem;
}

form div {
  padding: 0.5rem;
  text-align: center;
}

.d-flex main button{
  margin: 0.5rem;
}

.botoes-cancel-submit {
  text-decoration: none;
  border-color: #f4989c;
  color: #cc2a32;
  border-radius: 20%;  
}

.botoes-cancel-submit input {
  text-decoration: none;
  border-color: #f4989c;
  color: #cc2a32;
  border-radius: 20%;  
}

.botoes-cancel-submit input:hover {
  text-decoration: none;
  background-color: rgba(238, 149, 154, 0.5);;
  border-color: #f1656c;
}

.procurar-imagem {
  text-decoration: none;
  border-color: #f4989c;
  color: #140f0f;
  
}
/*span*/
#span-details{
  width: 500px;
  justify-content: center;
}

span#error {
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  padding: 8px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

/*products.list*/
.h1 {
  margin:0 0 1rem 5rem;
  padding: 2rem 0 2rem 0;
}

div #div-flex {
  margin: 1rem 1rem 2rem 5rem;
}
/* products details */

#div-details{
  height: 27rem;
};

.details-table{
  font-size: larger;
}

/*img {
  width: 100%;
  height: 100%
}*/

/* header div {
  display: inline-block; */
/* } */

/* header a:hover{
  background-color: blue; */

/* }fica azul na hora que passa o mouse */
